body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-image: linear-gradient(rgb(171, 170, 165),rgba(113, 18, 208, 0.889));
}

.container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 

.quote {
    margin-bottom: 20px;
}

#new-quote {
    background-color: #3a7b4d;
    color: rgb(23, 79, 111);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#new-quote:hover {
    background-color: #0056b3;
}
